# Pliki i foldery generowane przez IDE (np. IntelliJ)
.idea/
*.iml
*.iws

# Pliki generowane przez Maven
target/

# Pliki logów i inne pliki binarne
*.log
*.jar
.settings/
.classpath
.project

# Pliki systemowe (macOS, Windows)
.DS_Store
Thumbs.db
