.admin-container {
    background-color: white;
    min-height: 100vh;
}

.navbar-admin {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;       
    background-color: greenyellow;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000; 
}

.nav-logo-admin {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Przycisk z kreskami */
.menu {
    font-size: 2rem;
    cursor: pointer;
    user-select: none; 
}

/* --- ROZWIJANE MENU --- */
.dropdown-menu-admin {
    position: absolute; 
    top: 70px;          
    right: 0;            
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: -2px 5px 10px rgba(0,0,0,0.1);
}

.dropdown-menu-admin ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu-admin li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    color: black;
    font-size: 1rem;
}

.dropdown-menu-admin li:hover {
    background-color: #f0f0f0;
}

.dropdown-menu-admin .logout-option {
    color: red;
    font-weight: bold;
}

/* --- TREŚĆ GŁÓWNA --- */
.content {
    padding-top: 100px; 
    padding-left: 20px;
    padding-right: 20px;
}

.info-box-admin {
    background-color: rgba(255, 0, 0, 0.767);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}