header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: greenyellow;
    width: 100%;
    height: 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    color: black;
}
